html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    background-color: #F8F5E2;
    color: green;
}

a{
    text-decoration: none;
    color: green;
}

p{
    font-family: 'Space Mono', monospace;
}

.header {
    min-height: 700px;
    background-image: url(../img/Frame2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header {
    max-width: 1110px;
    margin: 0 auto;
}

.header_titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.h1-about{
    padding-top: 100px;
    padding-left: 100px;
    text-transform: uppercase;
}

.h4-about{
    padding-left: 100px;
}


.nav-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fers-items{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.item1-nav{
    min-width: 190px;
    min-height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.item3-nav{
    display: flex;
    align-items: center;
    min-width: 57px;
    min-height: 57px;
    background-color: #fff;
    border-radius: 10px;
}
.item2-nav-container{
    padding-left: 5px;
}

.item{
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 40px;
    background-color: #fff;
    border-radius: 10px;
}




.main-contriner{
    max-width: 1110px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
}

.main-title {
    padding-top: 5px;
    padding-left: 15px;
}

.carts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.cart-item1{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.item1-1{
    margin: 0;
    text-transform: uppercase;
}



.container-code{
    max-width: 1110px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #ffffff;
}

.h1-code{
    padding-top: 5px;
    padding-left: 15px;
}
.code-example{
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: auto;
    background: #000;
}



.contact-container{
    max-width: 1110px;
    margin: 20px auto;
}




.container-works{
    max-width: 1110px;
    margin: 50px auto;
}

.container-examples-works{
    max-width: 1110px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.item-work{
    margin-left: 5px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

.Link-Work{
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(83, 255, 131, 0.54) 0%, rgba(255, 64, 133, 0.00) 86.29%);
    border-radius: 5px;
}

.icons{
    width: 40px;
    height: 40px;
}



.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbffa9;
}