html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Caprasimo', cursive;
    font-weight: 400;
    font-size: 16px;
    background-color: #F8F5E2;
    color: green;
}

.header {
    min-height: 700px;
    background-image: url(../img/Frame2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header {
    max-width: 1110px;
    margin: 0 auto;
}

.header_titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.h1-about{
    padding-top: 100px;
    padding-left: 100px;
    text-transform: uppercase;
    font-family: 'Concert One', cursive;
}

.h4-about{
    padding-left: 100px;
    font-family: 'DotGothic16', sans-serif;
}



.main-contriner{
    max-width: 1110px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
}

.main-title {
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Concert One', cursive;
}

.carts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.cart-item1{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.item1-1{
    margin: 0;
    text-transform: uppercase;
    font-family: 'Concert One', cursive;
}



.container-code{
    max-width: 1110px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #ffffff;
}

.h1-code{
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Concert One', cursive;
}
.code-example{
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: auto;
    background: #000;
}



.contact-container{
    max-width: 1110px;
    margin: 20px auto;
}




.container-works{
    max-width: 1110px;
    margin: 50px auto;
}

.container-examples-works{
    max-width: 1110px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.item-work{
    margin-right: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.icons{
    width: 40px;
    height: 40px;
}